.about_me_details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.about_me_text {
  overflow-wrap: normal;
  margin-right: 30px;
  text-align: justify;
}

.my_photo {
  min-width: 350px;
  height: 350px;
  background-color: pink;
  border-radius: 30px;
  align-self: center;

  @media only screen and (max-width: 500px) {
    margin: 20px;
    width: 80%;
    height: 80%;
    min-width: 0;
  }
}


