.gallery_img {
  max-width: 30%;
  margin-right: 15px;

}

.gallery_img--last {
  margin-right: 0;
}

.gallery_title {
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn_change_slide {
  height: 40px;
  width: 20px;
  align-self: center;
  margin-inline: 20px;
  background-color: #def5fd;
  border-radius: 5px;
  border: 0.5px solid grey;
}

//@media only screen and (max-width: 500px) {
//  .carousel {
//    flex-direction: column;
//    align-items: center;
//  }
//  .gallery_img {
//    margin: 10px 0;
//    max-width: 45%;
//  }
//  .btn_change_slide {
//    display: none;
//  }
//
//}