.gallery_img {
  max-width: 30%;
  margin-right: 15px;

}

.gallery_img--last {
  margin-right: 0;
}

.gallery_title {
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn_change_slide {
  height: 40px;
  width: 20px;
  align-self: center;
  background-color: #def5fd;
  border-radius: 5px;
  border: 0.5px solid grey;
}

.btn_change_slide--prev {
  margin-right: 20px;
}

.btn_change_slide--next {
  margin-left: 20px;
}

@media only screen and (max-width: 1130px) {

  .btn_change_slide--prev {
    margin-right: 15px;
  }

  .btn_change_slide--next {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 900px) {

  .btn_change_slide {
    height: 30px;
    width: 15px;
  }

  .btn_change_slide--prev {
    margin-right: 5px;
  }

  .btn_change_slide--next {
    margin-left: 5px;
  }
}