.gallery_img {
  width: 350px;
  margin-right: 30px;

}

//.gallery_img--last {
//  margin-right: 0;
//}
//
//.gallery_title {
//  text-align: center;
//}

.gallery_photos {

}

.carousel-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}