.hero_container {
  background-image: url("../images/birthday-cake-blue-background_optimized.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
}

.hero_wrapper {
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(calc(35vh - 50px));
  background-color: rgba(255, 255, 255, .5);
  transition: .5s ease-out;
}

.hero_wrapper:hover{
  box-shadow: 3px 3px 15px 15px #ababab;
  width: 620px;
  height: 320px;
}


.hero {
  text-align: center;
  font-family: $secondary--font;

    h2 {
      text-transform: uppercase;
      font-size: 35px;
    }
  p {
    font-size: 25px;
  }

}

@media  only screen and (max-width: 660px){
  .hero_wrapper{
    margin: 40px 50px 40px 40px;
  }

    .hero_wrapper:hover{
      width: calc(100% - 90px);
    }

  .hero {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }
}

