.messenger {
  background-image: url("../images/facebook-messenger-2881.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 45px;
  height: 45px;
  position: fixed;
  right: 32px;
  bottom: 100px;
  z-index: 1;
}