.messenger {
  background-image: url("./images/facebook-messenger-2881.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 30px;
  bottom: 100px;
  z-index: 1;
}