

.prices_table {
  margin: 0 auto;
    border: 2px solid #888;
    border-collapse: separate;
    border-spacing: 4px;

  th {
    background-color: $bgc--secondary--color;
  }

      td, th {
        border: 1px solid #aaa;
        padding: 10px;
        text-align: center;
    }

}

.prices_title {
  text-align: center;
}

.prices_info {
  text-align: justify;

  li {
    list-style-type: initial;
  }
}

