body {
  background-color: $bgc--secondary--color;

}

.container {
  margin: 0 auto;
}

.box{
  margin: 0 auto;
  max-width: 1300px;
  padding: 30px;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 30px;
  box-shadow: 1px 3px 20px #adadad;
}